{{#if (eq role 'admin')}}
<div id="content-4">
  <p class="text-xl">Characters</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/characters/download">Export All
      Characters</a>
  </div>
  {{#each characters}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.images.profile}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/character/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>

          <button data-character-id="{{this._id}}" class="delete-btn flex btn outline-none text-red-400 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span class="material-symbols-outlined">delete_forever</span></button>

    </div>
  </div>
  {{/each}}
  <p class="text-xl mt-9">Weapons</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/weapons/download">Export All
      Weapons</a>
  </div>
  {{#each weapons}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main flex justify-center relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.images.icon}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/weapon/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>
      <form action="/dashboard/weapon/delete/{{this._id}}" method="POST">
        <button
          class="flex btn outline-none text-red-400 mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"
          type="submit"><span class="material-symbols-outlined">
            delete_forever
          </span></button>
      </form>
    </div>
  </div>
  {{/each}}
  <p class="text-xl mt-9">Artifacts</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/artifacts/download">Export All
      Artifacts</a>
  </div>
  {{#each artifacts}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main flex justify-center relative icon-card-mini artifacts rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.fullSet.flower.icon}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/artifact/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>
      <form action="/dashboard/artifact/delete/{{this._id}}" method="POST">
        <button
          class="flex btn outline-none text-red-400 mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"
          type="submit"><span class="material-symbols-outlined">
            delete_forever
          </span></button>
      </form>
    </div>
  </div>
  {{/each}}

  <div id="character-delete-confirm-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden">
    <div class="flex items-center justify-center h-screen">
          <form action="" method="POST" class="flex justify-center">
      <div class="bg-slate-800 p-4 w-11/12 lg:w-96 rounded-lg poppins">
        <p>Are you sure you want to delete this character?</p>
        <div class="flex gap-2 mt-2">
        <button class="w-full" type="button" id="cancelDeleteBtn">Cancel</button>
        <button class="w-full bg-red-400 px-4 py-2 rounded-lg" id="confirmDeleteBtn">Confirm</button>
        </div>
          </form>
      </div>
    </div>

  </div>
</div>
{{/if}}