{{#if (eq role 'admin')}}
            <div id="content-4">
              <p class="text-xl">Characters</p>
              <div class="flex my-3">
                <a class="btn bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600" href="/dashboard/characters/download">Export All Characters</a>
              </div>
              {{#each characters}}
              <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
              <div class="flex justify-between items-center">
                  <div class=" relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
                  <img width="90px" src="{{this.images.profile}}" alt="{{this.name}}">
              </div>
              <p class="text-lg ml-2">{{this.name}}</p>
              </div>
              <div class="flex">
              <a href="/dashboard/character/edit/{{this._id}}"><button class="btn mr-2 bg-teal-500 px-4 py-2 rounded-lg hover:bg-teal-600 transition-colors text-sm">Edit</button></a>
              <form action="/dashboard/character/delete/{{this._id}}" method="POST">
                <button class="btn bg-red-400 px-4 py-2 rounded-lg hover:bg-red-500 transition-colors text-sm" type="submit">Delete</button>
              </form>
              </div>
              </div>
              {{/each}}
              <p class="text-xl mt-9">Weapons</p>
              <div class="flex my-3">
                <a class="btn bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600" href="/dashboard/weapons/download">Export All Weapons</a>
              </div>
              {{#each weapons}}
              <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
              <div class="flex justify-between items-center">
                  <div class="flex justify-center relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
                  <img width="" src="{{this.images.icon}}" alt="{{this.name}}">
              </div>
              <p class="text-lg ml-2">{{this.name}}</p>
              </div>
              <div class="flex">
                <a href="/dashboard/weapon/edit/{{this._id}}"><button class="btn mr-2 bg-teal-500 px-4 py-2 rounded-lg hover:bg-teal-600 transition-colors text-sm">Edit</button></a>
              <form action="/dashboard/weapon/delete/{{this._id}}" method="POST">
                <button class="btn bg-red-400 px-4 py-2 rounded-lg hover:bg-red-500 transition-colors text-sm" type="submit">Delete</button>
              </form>
              </div>
              </div>
              {{/each}}
              <p class="text-xl mt-9">Artifacts</p>
              <div class="flex my-3">
                <a class="btn bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600" href="/dashboard/artifacts/download">Export All Artifacts</a>
              </div>
              {{#each artifacts}}
              <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
              <div class="flex justify-between items-center">
                  <div class="flex justify-center relative icon-card-mini five-star rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
                  <img width="" src="{{this.fullSet.flower.icon}}" alt="{{this.name}}">
              </div>
              <p class="text-lg ml-2">{{this.name}}</p>
              </div>
              <div class="flex">
              <a href="/dashboard/artifact/edit/{{this._id}}"><button class="btn mr-2 bg-teal-500 px-4 py-2 rounded-lg hover:bg-teal-600 transition-colors text-sm">Edit</button></a>
              <form action="/dashboard/artifact/delete/{{this._id}}" method="POST">
                <button class="btn bg-red-400 px-4 py-2 rounded-lg hover:bg-red-500 transition-colors text-sm" type="submit">Delete</button>
              </form>
              </div>
              </div>
              {{/each}}
            </div>
{{/if}}