<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{desc}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- <link rel="stylesheet" href="/css/main.css" /> --}}
    <style>
     
    </style>
  </head>
  <body>
    <div id="alertBox" class="alertBox text-white bg-teal-500 px-2 py-2 rounded-lg transition-all duration-300 z-40"></div>
    <div class="modal z-50 poppins" id="modal">
      <div class="rounded-lg modal-card bg-slate-700 text-white w-80 p-4">
        <p class="text-2xl mb-5 font-semibold">Are you sure?</p>
        <div class="flex justify-center font-semibold">
          <button id="btn-modal-close" class="px-2 py-2 w-full rounded-lg bg-teal-500 hover:bg-teal-600 mr-2 transition-colors">Cancel</button>
          <form class="w-full" action="/logout">
        <button type="submit" id="btn-modal-logout" class="w-full px-2 py-2 rounded-lg bg-red-400 hover:bg-red-500 transition-colors">Log Out</button>
          </form>
        </div>
      </div>
    </div>
    {{!-- <div id="alertBox" class="alertBox text-white bg-teal-500 px-2 py-2 rounded-lg transition-all duration-300 z-40">
      <p class=""></p>
    </div> --}}
    <div class="bg-slate-800 fixed top-0 left-0 bottom-0 right-0 z-50 flex justify-center items-center" id="loader">
      <span class="loader"></span>
    </div>
    <div class="h-screen flex justify-end">
      <div
        class="sidebar bg-slate-800 fixed top-0 left-0 h-full w-1/5 p-2 border-gray-600 border-r-2 border-solid flex flex-col justify-between"
      >
        <div class="sidebar-top">

          <div
            class="card flex items-center w-full rounded-full py-2 px-4 mt-3 relative"
          >
            <div
              class="overlay absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 z-0 rounded-full"
            ></div>
            <div class="pfp z-10">
              <div
                class="rounded-full bg-teal-700 border-white border-4 border-solid"
              >
                <img
                  src="assets/images/pfp/xiao.webp"
                  alt="profile-pic"
                  width="75"
                  height="75"
                  class="rounded-full"
                />
              </div>
            </div>
            <div class="info ml-4 text-white z-10">
              {{#if user}}
              <p class="text-xl">{{user}}</p>
              {{/if}}
              {{#if role}}
              <p class="desc text-sm mt-1 font-thin">{{role}}</p>
              {{/if}}
            </div>
          </div>
          <ul class="flex flex-col items-center">
            <li class="w-full mt-4"><button
                class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
                id="nav-1"
              ><img
                  src="/assets/images/ult.png"
                  alt="ultimate"
                  class="mr-2"
                  width="40"
                />Characters</button></li>
            <li class="w-full mt-4"><button
                class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
                id="nav-2"
              ><img
                  src="/assets/images/skill.png"
                  alt="ultimate"
                  class="mr-2"
                  width="40"
                />Weapons</button></li>
            <li class="w-full mt-4"><button
                class="flex items-center hover:bg-slate-700 rounded-full text-teal-100 py-4 px-4 w-full transition-colors text-left"
                id="nav-3"
              ><img
                  src="/assets/images/NA.png"
                  alt="ultimate"
                  class="mr-2"
                  width="40"
                />Artifacts</button></li>
          </ul>
        </div>
        <div>

          <ul class="flex mb-5 justify-evenly">
            <li><button
                class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
                id="nav-0"
              ><span class="material-symbols-outlined">home</span></button></li>
            <li><button
                class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
                id="nav-4"
              ><span
                  class="material-symbols-outlined"
                >people</span></button></li>
            <li><button
                class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
                id="nav-5"
              ><span
                  class="material-symbols-outlined"
                >settings</span></button></li>
            <li><button
                id="nav-logout"
                class="btn flex p-4 rounded-full text-teal-500 hover:text-teal-200 hover:bg-slate-700 transition-colors"
              ><span
                  class="material-symbols-outlined"
                >logout</span></button></li>
          </ul>
          <p class="text-center text-white text-xs opacity-50 font-sans">v1.0.0
            ~ FlameForge API</p>
        </div>
      </div>
      <div
        class="main 1/4 w-4/5 overflow-y-auto px-10 py-10 bg-slate-800 text-white"
        id="content"
      >
        <div class="w-3/4 mx-auto overflow-hidden">
          <p class="text-3xl mb-5" id="heading">Characters</p>
          <div id="content-data" class="mt-2">

            <div id="content-0">
              <p class="text-center text-lg">Welcome to
                <span class="text-teal-400">FlameForge</span>
                API Dashboard</p>
              <p class="text-center text-sm my-2 font-sans">This API is an
                independent project created by Vedant and is not affiliated with
                or endorsed by miHoYo, the developers of Genshin Impact, or its
                associated entities (collectively referred to as
                "miHoYo/HoYoVerse"). All rights and credits for Genshin Impact,
                including its characters, artwork, and related intellectual
                property, are owned by miHoYo/HoYoVerse. The use of any
                copyrighted material is solely for informative and
                non-commercial purposes.</p>
              <img
                src="/assets/images/xiao-main.png"
                alt="xiao"
                class="mx-auto"
                width="600"
              />
              <div class="my-5 text-red-400">
                <p class="text-lg mb-2">Notes</p>
                <ul class="font-sans list-disc ml-5">
                  <li>Choose valid json file to upload</li>
                  <li>follow proper syntax given</li>
                  <li>incorrect syntax will cause error</li>
                  <li>recheck json file before upload</li>
                </ul>
              </div>
              <h1 class="mb-3 mt-5 text-xl">1. Overview</h1>
              <p class="font-sans">Welcome to the Genshin Impact API dashboard!
                This guideline will help you understand the features and
                functionalities available to enhance your Genshin Impact
                experience.</p>

              <h2 class="mb-3 mt-5 text-xl">2. Dashboard Navigation</h2>
              <ul>
                <li class="mb-2">
                  <h3>Characters:</h3>
                  <p class="font-sans">Access detailed information about Genshin
                    Impact characters.</p>
                </li>
                <li class="mb-2">
                  <h3>Weapons:</h3>
                  <p class="font-sans">Explore the wide range of weapons
                    available in Genshin Impact.</p>
                </li>
                <li class="mb-2">
                  <h3>Artifacts:</h3>
                  <p class="font-sans">View and analyze various artifacts used
                    in the game.</p>
                </li>
              </ul>

              <h2 class="mb-3 mt-5 text-xl">3. Accessing Data</h2>
              <ul>
                <li class="mb-2">
                  <h3>Search:</h3>
                  <p class="font-sans">Search for specific characters, weapons,
                    or artifacts.</p>
                </li>
                <li class="mb-2">
                  <h3>Filter and Sort:</h3>
                  <p class="font-sans">Customize the display by applying filters
                    and sorting options.</p>
                </li>
              </ul>

              <h2 class="mb-3 mt-5 text-xl">4. Usage Guidelines</h2>
              <ul>
                <li class="mb-2">
                  <h3>Non-commercial Use:</h3>
                  <p class="font-sans">Use the API and its data for
                    non-commercial purposes only.</p>
                </li>
                <li>
                  <h3>Feedback:</h3>
                  <p class="font-sans">We welcome your feedback to improve and
                    enhance the API. Feel free to share your suggestions and
                    report any issues.</p>
                </li>
              </ul>
            </div>

            <div class="characters" id="content-1">
              <p class="mt-10">Upload as JSON :</p>
              <form
                action="dashboard/upload/characters"
                method="POST"
                enctype="multipart/form-data"
                class="flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg"
              >
                <label
                  for="uploadFile"
                  class="cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400"
                >
                  <input
                    type="file"
                    name="jsonCharacterFile"
                    id="uploadFile"
                    accept=".json"
                    class="hidden"
                  />
                  Choose File
                </label>
                <p id="file_display"></p>
                <button
                  type="submit"
                  class="flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"
                ><span class="material-symbols-outlined mr-1">
                    upload_file
                  </span>
                  Upload</button>
              </form>
                <p class="my-3">Previously Included Characters - Do Not Replicate</p>
              <div class="icon-card-container my-8 flex">
                {{#each characterIcons}}
                <div class=" relative icon-card five-star rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-3xl box-border overflow-hidden mx-3">
                  <img width="90px" src="{{this.images.profile}}" alt="{{this.name}}">
                  <p class="bg-white absolute bottom-0 left-0 right-0 text-black text-xs text-center overflow-hidden whitespace-nowrap overflow-ellipsis px-3">{{this.name}}</p>
                </div>
                {{/each}}
              </div>
              <p class="my-3">Valid Data Syntax :</p>
              <pre class="language-json flex relative">
                <button
                  id="copy-btn"
                  class="absolute copyBtn right-5 top-5 border-2 border-teal-400 px-4 rounded-lg hover:bg-teal-400 active:scale-90 transition-transform"
                  data-code="code1"
                >copy</button>
                <code id="code1">{
  "name": "string",
  "desc": "string",
  "rarity": "number",
  "vision": "string",
  "weapon": "string",
  "versionRelease": "number",
  "birthday": "number",
  "title": ["string"],
  "constellation": "string",
  "region": ["string"],
  "affiliation": ["string"],
  "images": {
    "profile": "string",
    "gacha": "string"
  },
  "model": "string",
  "wikiUrl": "string",
  "skin": {
	  "title": "string",
	  "profile": "string",
  	"gacha": "string"
}
}</code>
              </pre>
              <p class="my-3">Demo Response :</p>
              <pre class="language-json flex relative">
                <code id="codeBox">{
  "name": "Diluc",
  "desc": "",
  "rarity": 5,
  "vision": "Pyro",
  "weapon": "Claymore",
  "versionRelease": 1.0,
  "birthday": "April 30",
  "title": ["The Dark Side of Dawn"],
  "constellation": "Noctua",
  "region": ["Mondstadt"],
  "affiliation": ["Dawn Winery"],
  "images": {
    "icon": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/character/Diluc_icon.png",
    "profile": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/character/%25E8%25BF%25AA%25E5%258D%25A2%25E5%2585%258B/avatar_header.jpg",
    "gacha": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/character/%25E8%25BF%25AA%25E5%258D%25A2%25E5%2585%258B/avatar.png"
  },
  "model": "tall male",
  "wikiUrl": "https://genshin-impact.fandom.com/wiki/Diluc",
  "skin": {
  	"title": "Red Dead of Night",
	  "profile": "https://static.wikia.nocookie.net/gensin-impact/images/b/b1/Red_Dead_of_Night_Icon.png/revision/latest/scale-to-width-down/185?cb=20220721184034",
	  "gacha": "https://static.wikia.nocookie.net/gensin-impact/images/1/10/Red_Dead_of_Night_Preview.png/revision/latest/scale-to-width-down/185?cb=20220713104417"
}
}

</code>
              </pre>

            </div>
          </div>
          <div id="content-2">
            <p class="mt-10">Upload as JSON :</p>
            <form
              action="/upload/weapons"
              method="post"
              enctype="multipart/form-data"
              class="flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg"
            >
              <label
                for="uploadFile2"
                class="cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400"
              >
                <input
                  type="file"
                  name="jsonFile2"
                  id="uploadFile2"
                  accept=".json"
                  class="hidden"
                />
                Choose File
              </label>
              <p id="file_display2"></p>
              <button
                type="submit"
                class="flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"
              ><span class="material-symbols-outlined mr-1">
                  upload_file
                </span>
                Upload</button>
            </form>
            <p class="my-3">Valid Data Syntax :</p>
            <pre class="language-json flex relative">
              <button
                id="copy-btn"
                class="absolute copyBtn right-5 top-5 border-2 border-teal-400 px-4 rounded-lg hover:bg-teal-400 active:scale-90 transition-transform "
                data-box-id="code-box-2"
                data-code="code2"
              >copy</button>
              <code id="code2">{
  "name": "string",
  "desc": "string",
  "rarity": "number",
  "source": "string",
  "secondaryStat": "string",
  "passive": "string",
  "versionRelease": "number",
  "region": "string",
  "type": "string",
  "affiliation": ["string"],
  "images": {
    "icon": "string",
    "original": "string",
    "awakened": "string"
  },
  "wikiUrl": "string"
}
</code>
            </pre>
            <p class="my-3">Demo Response :</p>
            <pre class="language-json flex relative">
              <code id="codeBox">{
  "name": "Primordial Jade Winged-Spear",
  "desc": "A jade polearm made by the archons, capable of slaying ancient beasts.",
  "rarity": 5,
  "source": "wish",
  "secondaryStat": "CRIT Rate",
  "passive": "On hit, increases ATK by 3.2%/3.9%/4.6%/5.3%/6% for 6s. Max 7 stacks. This effect can only occur once every 0.3s. While in possession of the maximum possible stacks, DMG dealt is increased by 12%/15%/18%/21%/24%.",
  "versionRelease": 1.0,
  "region": "Liyue",
  "type": "Polearm",
  "images": {
    "icon": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/weapon/%25E5%2592%258C%25E7%2592%259E%25E9%25B8%25A2.png",
    "original": "https://upload-static.hoyoverse.com/hoyolab-wiki/2023/06/24/94376896/edf9c94e3b4dd8fbfab0aeb4820ccc47_278966444220345681.png?x-oss-process=image%2Fformat%2Cwebp",
    "awakened": "https://upload-static.hoyoverse.com/hoyolab-wiki/2023/06/24/94376896/3c3939178a2a01c9aae85692dfd69fb7_1300600320564433131.png?x-oss-process=image%2Fformat%2Cwebp"
  },
  "wikiUrl": "https://genshin-impact.fandom.com/wiki/Primordial_Jade_Winged-Spear"
}
</code>
            </pre>

          </div>

          <div id="content-3">
            <p class="mt-10">Upload as JSON :</p>
            <form
              action="/upload/artifacts"
              method="post"
              enctype="multipart/form-data"
              class="flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg"
            >
              <label
                for="uploadFile3"
                class="cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400"
              >
                <input
                  type="file"
                  name="jsonFile3"
                  id="uploadFile3"
                  accept=".json"
                  class="hidden"
                />
                Choose File
              </label>
              <p id="file_display3"></p>
              <button
                type="submit"
                class="flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"
              ><span class="material-symbols-outlined mr-1">
                  upload_file
                </span>
                Upload</button>
            </form>
            <p class="my-3">Valid Data Syntax :</p>
            <pre class="language-json flex relative">
              <button
                id="copy-btn"
                class="absolute copyBtn right-5 top-5 border-2 border-teal-400 px-4 rounded-lg hover:bg-teal-400 active:scale-90 transition-transform "
                data-code="code3"
              >copy</button>
              <code id="code3">{
  "name": "string",
  "effect": {
    "2pc": "String",
    "4pc": "String"
  },
  "fullSet": {
    "flower": {
      "title": "string",
      "piece": "string",
      "desc": "string",
      "image": "string"
    },
    "sands": {
      "title": "string",
      "piece": "string",
      "desc": "string",
      "image": "string"
    },
    "plume": {
      "title": "string",
      "piece": "string",
      "desc": "string",
      "image": "string"
    },
    "circlet": {
      "title": "string",
      "piece": "string",
      "desc": "string",
      "image": "string"
    },
    "goblet": {
      "title": "string",
      "piece": "string",
      "desc": "string",
      "image": "string"
    }
  }
}
</code>
            </pre>
            <p class="my-3">Demo Response :</p>
            <pre class="language-json flex relative">
              <code id="codeBox">{
  "name": "Crimson Witch of Flames",
  "effect": {
    "2pc": "Pyro DMG Bonus +15%",
    "4pc": "Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using Elemental Skill increases the 2-Piece Set Bonus by 50% of its starting value for 10s. Max 3 stacks."
  },
  "set": {
    "flower": {
      "title": "Witch's Flower of Blaze",
      "desc": "A flower touched by the witch who once dreamt of burning away all the demons in the world. The anonymous flames affectionately caress the hands of those who touch it.",
      "image": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/reliquary/Crimson%2520Witch%2520of%2520Flames/flower_of_life_icon.png"
    },
    "sands": {
      "title": "Witch's End Time",
      "desc": "A timepiece worn by the witch who dreamt of burning away all the demons in the world. The years the witch dedicated to the flames flow within.",
      "image": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/reliquary/Crimson%2520Witch%2520of%2520Flames/sands_of_eon_icon.png"
    },
    "plume": {
      "title": "Witch's Ever-Burning Plume",
      "desc": "A bird feather touched by the witch who once dreamt of burning away all the demons in the world. Its eternal flame burns hot.",
      "image": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/reliquary/Crimson%2520Witch%2520of%2520Flames/plume_of_death_icon.png"
    },
    "circlet": {
      "title": "Witch's Scorching Hat",
      "desc": "A hat once worn by the witch who dreamt of burning away all of the demons in the world. The large brim blocked her sight.",
      "image": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/reliquary/Crimson%2520Witch%2520of%2520Flames/circlet_of_logos_icon.png"
    },
    "goblet": {
      "title": "Witch's Heart Flames",
      "desc": "A flame-spitting urn left behind by the Crimson Witch of Flames, who once dreamt of burning away all the demons in the world. The fire in the urn burns eternally, as did its former master.",
      "image": "https://wiki.hoyolab.com/_ipx/f_webp/https://bbs.hoyolab.com/hoyowiki/picture/reliquary/Crimson%2520Witch%2520of%2520Flames/goblet_of_eonothem_icon.png"
    }
  }
}
</code>
            </pre>

          </div>
          <div id="content-4">
            {{#each users}}
                   <div
            class="my-4 card card-long flex items-center w-full rounded-full py-2 px-4 mt-3 relative border-2 border-white">
            <div class="overlay absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 z-0 rounded-full"></div>
            <div class="pfp z-10">
              <div class="rounded-full bg-teal-700 border-white border-4 border-solid">
                <img
                  src="assets/images/pfp/xiao.webp"
                  alt="profile-pic"
                  width="75"
                  height="75"
                  class="rounded-full"
                />
              </div>
            </div>
            <div class="info ml-4 text-white z-10">
              <p class="text-xl">{{username}}</p>
              <p class="desc text-md mt-1 font-thin">~ {{role}}</p>
            </div>
          </div>
            {{/each}}
          </div>
          <div id="content-5">
            <div class="deletion  font-sans">
              <p class="text-2xl font-semibold">Account Deletion</p>
              <p class="mt-3 mb-5 font-sans w-2/4">This action is irreversible and will permanently delete all your account data. Please confirm if you wish to proceed.</p>
              <div class="">
                <p class="mb-2 text-sm text-slate-400">to confirm this, type "DELETE"</p>
                <form action="/delete" method="post">
                <input type="text" name="delete" class="bg-slate-800 border-2 border-slate-600 py-2 px-2 rounded-lg outline-none" id="input-delete">
                <button class="ml-1 text-white transition-colors border-2 py-2 px-4 font-sans font-bold rounded-lg tracking-wider disable-btn" id="btn-delete">Delete Account</button>
                </form> 
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <script defer src="/js/script.js"></script>
    <script>
      {{#if messages.success}}
      showAlertBox({{messages.success}});
      {{/if}}
    </script>
  </body>
</html>