<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="{{desc}}" />
  <title>{{title}}</title>
  {{!--
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/mobile.css" /> --}}
  <style>

  </style>
</head>

<body>
  <div id="alertBox" class="alertBox text-white bg-teal-500 px-2 py-2 rounded-lg transition-all duration-300 z-40">
  </div>
  <div id="alertBoxError" class="alertBox text-white bg-red-400 px-2 py-2 rounded-lg transition-all duration-300 z-40">
  </div>
  {{> dashboard/logoutModal}}
  <div class="bg-slate-800 fixed top-0 left-0 bottom-0 right-0 z-50 flex justify-center items-center" id="loader">
    <span class="loader"></span>
  </div>
  <div class="hamburger bg-slate-700 lg:hidden z-50 p-4 flex justify-between items-center">
    <div class="flex justify-center items-center">
      <img src="/assets/images/ult.png" width="40" alt="FlameForge">
      <p class="text-gray-200 ml-2 text-lg">FlameForge API</p>
    </div>
    <button class="flex" id="hamburger-btn">
      <span class="material-symbols-outlined text-gray-200">
        menu
      </span>
    </button>
  </div>

  <div class="h-screen flex justify-end">
    <div id="sidebar-main"
      class="sidebar-main-mob sidebar-mob sidebar bg-slate-800 fixed top-0 left-0 h-full w-1/5 p-2 border-gray-600 border-r-2 border-solid flex flex-col justify-between">
      {{> dashboard/sidebar}}
    </div>
    <div class="main-mob main w-4/5 overflow-y-visible px-10 py-10 bg-slate-800 text-white" id="content">
      <div class="main-container-mob w-3/4 mx-auto overflow-hidden">
        <p class="heading-mob text-3xl mb-5" id="heading"></p>
        <div id="content-data" class="mt-2">
          <section id="content-0">
              <p class="text-center text-lg">Welcome to
                <span class="text-teal-400">FlameForge</span>
                API Dashboard</p>
              <p class="text-center text-sm my-2 font-sans">This API is an
                independent project created by Vedant and is not affiliated with
                or endorsed by miHoYo, the developers of Genshin Impact, or its
                associated entities (collectively referred to as
                "miHoYo/HoYoVerse"). All rights and credits for Genshin Impact,
                including its characters, artwork, and related intellectual
                property, are owned by miHoYo/HoYoVerse. The use of any
                copyrighted material is solely for informative and
                non-commercial purposes.</p>
              <img
                src="/assets/images/xiao-main.png"
                alt="xiao"
                class="mx-auto"
                width="600"
              />
              <div class="my-5 text-red-400">
                <p class="text-lg mb-2">Notes</p>
                <ul class="font-sans list-disc ml-5">
                  <li>Please ensure you select a valid JSON file for upload.</li>
                  <li>Make sure to follow the correct JSON syntax provided.</li>
                  <li>Incorrect JSON syntax can lead to errors, so please double-check your file.</li>
                  <li>It's a good practice to review your JSON file carefully before uploading to avoid any issues.</li>
                </ul>
              </div>
              <h1 class="mb-3 mt-5 text-xl">1. Overview</h1>
              <p class="font-sans">Welcome to the Genshin Impact API dashboard!
                This guideline will help you understand the features and
                functionalities available to enhance your Genshin Impact
                experience.</p>
              <h2 class="mb-3 mt-5 text-xl">2. Dashboard Navigation</h2>
              <ul>
                <li class="mb-2">
                  <h3>Characters:</h3>
                  <p class="font-sans">Access detailed information about Genshin
                    Impact characters.</p>
                </li>
                <li class="mb-2">
                  <h3>Weapons:</h3>
                  <p class="font-sans">Explore the wide range of weapons
                    available in Genshin Impact.</p>
                </li>
                <li class="mb-2">
                  <h3>Artifacts:</h3>
                  <p class="font-sans">View and analyze various artifacts used
                    in the game.</p>
                </li>
              </ul>

              <h2 class="mb-3 mt-5 text-xl">3. Accessing Data</h2>
              <ul>
                <li class="mb-2">
                  <h3>Search:</h3>
                  <p class="font-sans">Search for specific characters, weapons,
                    or artifacts.</p>
                </li>
                <li class="mb-2">
                  <h3>Filter and Sort:</h3>
                  <p class="font-sans">Customize the display by applying filters
                    and sorting options.</p>
                </li>
              </ul>
              <h2 class="mb-3 mt-5 text-xl">4. Usage Guidelines</h2>
              <ul>
                <li class="mb-2">
                  <h3>Non-commercial Use:</h3>
                  <p class="font-sans">Use the API and its data for
                    non-commercial purposes only.</p>
                </li>
                <li>
                  <h3>Feedback:</h3>
                  <p class="font-sans">We welcome your feedback to improve and
                    enhance the API. Feel free to share your suggestions and
                    report any issues.</p>
                </li>
              </ul>
            </section>

          <section class="characters" id="content-1">
  <p class="mt-10 upload-heading-mob">Upload as JSON :</p>
  <form action="dashboard/upload/characters" method="POST" enctype="multipart/form-data"
    class="upload-main-mob flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg">
    <label for="uploadFile"
      class="upload-choose-btn-mob cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400">
      <input type="file" name="jsonCharacterFile" id="uploadFile" accept=".json" class="hidden" />
      Choose File
    </label>
    <p id="file_display"></p>
    <button type="submit"
      class="upload-choose-file-btn-mob flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"><span
        class="material-symbols-outlined mr-1">
        upload_file
      </span>
      Upload</button>
  </form>
  <p class="heading-2-mob my-3">Previously Included Characters <br> <span class="text-red-400">[DO NOT REPLICATE]</span>
  </p>
  <div class="icon-card-container-mob icon-card-container my-8 flex flex-wrap">
    {{#each characters}}
    <div
      class="icon-card-mob relative icon-card {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-3xl box-border overflow-hidden m-3 flex justify-center items-center">
      <img class="icon-card-image-mob" width="90" src="{{this.images.profile}}" alt="{{this.name}}">
      <p
        class="bg-white absolute bottom-0 left-0 right-0 text-black text-xs text-center overflow-hidden whitespace-nowrap overflow-ellipsis px-3">
        {{this.name}}</p>
    </div>
    {{/each}}
  </div>
{{> dashboard/codeCharacterSnippet}}
</section>
{{!-- </div> --}}

          <section id="content-2">
  <p class="mt-10 upload-heading-mob">Upload as JSON :</p>
  <form action="dashboard/upload/weapons" method="POST" enctype="multipart/form-data"
    class="upload-main-mob flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg">
    <label for="uploadFile2"
      class="upload-choose-btn-mob cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400">
      <input type="file" name="jsonWeaponFile" id="uploadFile2" accept=".json" class="hidden" />
      Choose File
    </label>
    <p id="file_display2"></p>
    <button type="submit"
      class="upload-choose-file-btn-mob flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"><span
        class="material-symbols-outlined mr-1">
        upload_file
      </span>
      Upload</button>
  </form>
  <p class="heading-2-mob my-3">Previously Included Weapons <br> <span class="text-red-400">[DO NOT REPLICATE]</span></p>
  <div class="icon-card-container-mob icon-card-container my-8 flex flex-wrap">
    {{#each weapons}}
    <div
      class="icon-card-mob relative icon-card {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}}  rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-3xl box-border overflow-hidden m-3 flex justify-center items-center">
      <img width="90" class="icon-card-image-mob" src="{{this.images.icon}}" alt="{{this.name}}">
      <p
        class="bg-white absolute bottom-0 left-0 right-0 text-black text-xs text-center overflow-hidden whitespace-nowrap overflow-ellipsis px-3">
        {{this.name}}</p>
    </div>
    {{/each}}
  </div>{{> dashboard/codeWeaponSnippet}}

</section>
</div>

          <section id="content-3">
  <p class="mt-10 upload-heading-mob">Upload as JSON :</p>
  <form action="dashboard/upload/artifacts" method="post" enctype="multipart/form-data"
    class="upload-main-mob flex justify-between items-center mt-3 mb-10 font-sans border-2 border-teal-500 p-4 rounded-lg">
    <label for="uploadFile3"
      class="upload-choose-btn-mob cursor-pointer border-2 border-teal-400 px-2 py-2 rounded-lg transition-colors hover:bg-teal-400">
      <input type="file" name="jsonArtifactFile" id="uploadFile3" accept=".json" class="hidden" />
      Choose File
    </label>
    <p id="file_display3"></p>
    <button type="submit"
      class="upload-choose-file-btn-mob flex bg-teal-500 p-2 hover:bg-teal-600 font-semibold transition-colors rounded-lg"><span
        class="material-symbols-outlined mr-1">
        upload_file
      </span>
      Upload</button>
  </form>
  <p class="heading-2-mob my-3">Previously Included Artifacts <br> <span class="text-red-400">[DO NOT REPLICATE]</span></p>
  <div class="icon-card-container-mob icon-card-container my-8 flex flex-wrap">
    {{#each artifacts}}
    <div
      class="icon-card-mob relative icon-card artifacts rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-3xl box-border overflow-hidden m-3 flex justify-center">
      <img width="" src="{{this.fullSet.flower.icon}}" alt="{{this.name}}">
      
    </div>
    {{/each}}
  </div>
{{> dashboard/codeArtifactSnippet}}

</section>
{{!-- </div> --}}

          {{#if (eq role 'admin')}}
<section id="content-4">
  <p class="text-xl">Characters</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/characters/download">Export All
      Characters</a>
  </div>
  {{#each characters}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.images.profile}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/character/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>
      <form action="/dashboard/character/delete/{{this._id}}" method="POST">
        <button data-character-id="{{this._id}}"
          class="delete-btn flex btn outline-none text-red-400 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">delete_forever</span></button>
      </form>
    </div>
  </div>
  {{/each}}
  <p class="text-xl mt-9">Weapons</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/weapons/download">Export All
      Weapons</a>
  </div>
  {{#each weapons}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main flex justify-center relative icon-card-mini {{#if (eq this.rarity 5)}} five-star {{/if}} {{#if (eq this.rarity 4)}} four-star {{/if}} rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.images.icon}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/weapon/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>

      <form action="/dashboard/weapon/delete/{{this._id}}" method="POST">
        <button data-character-id="{{this._id}}"
          class="delete-btn flex btn outline-none text-red-400 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">delete_forever</span></button>
      </form>

    </div>
  </div>
  {{/each}}
  <p class="text-xl mt-9">Artifacts</p>
  <div class="flex my-3">
    <a class="btn outline-none bg-teal-500 py-2 px-4 rounded-lg hover:bg-teal-600"
      href="/dashboard/artifacts/download">Export All
      Artifacts</a>
  </div>
  {{#each artifacts}}
  <div class="flex justify-between items-center my-2 py-2 px-4 rounded-lg bg-slate-700">
    <div class="flex justify-between items-center">
      <div
        class="icon-container-main flex justify-center relative icon-card-mini artifacts rounded-tr-lg rounded-bl-lg rounded-tl-lg rounded-br-2xl box-border overflow-hidden">
        <img src="{{this.fullSet.flower.icon}}" alt="{{this.name}}">
      </div>
      <p class="text-lg ml-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-28 sm:w-full">{{this.name}}</p>
    </div>
    <div class="flex">
      <a href="/dashboard/artifact/edit/{{this._id}}"><button
          class="flex btn outline-none mr-2 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">
            edit
          </span></button></a>

      <form action="/dashboard/artifact/delete/{{this._id}}" method="POST">
        <button data-character-id="{{this._id}}"
          class="delete-btn flex btn outline-none text-red-400 opacity-80 hover:opacity-100 hover:bg-white hover:bg-opacity-20 p-2 rounded-full transition-colors text-sm"><span
            class="material-symbols-outlined">delete_forever</span></button>
      </form>

    </div>
  </div>
  {{/each}}


</section>
{{/if}}

          {{#if (eq role 'user')}}
          <div id="content-4"></div>
          {{/if}}

          <section id="content-5" class="w-full">
  {{#if (eq role 'admin')}}

  {{#each users}}
  <div
    class="my-4 card card-long flex items-center box-border rounded-full w-full mx-auto py-2 px-4 mt-3 relative border-2 border-white">
    <div class="overlay absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 z-0 rounded-full"></div>
    <div class="pfp z-10">
      <div class="rounded-full bg-teal-700 border-white border-4 border-solid">
        <img src="assets/images/pfp/xiao.webp" alt="profile-pic" width="75" height="75" class="rounded-full" />
      </div>
    </div>
    <div class="info ml-4 text-white z-10">
      <p class="text-xl">{{username}}</p>
      <p class="desc text-md mt-1 font-thin">~ {{role}}</p>
    </div>
  </div>
  {{/each}}
  
  {{/if}}

  {{#if (eq role 'user')}}
  <p class="text-center lg:text-left mt-2 bg-red-400 p-2 rounded-md">This exclusive page grants access to advanced
    features and confidential details accessible only to administrators.</p>
  {{/if}}

</section>

          <section id="content-6" class="w-full lg:px-0 lg:w-9/12">
  <div class="deletion font-sans">
    <div class="py-2">
      {{#if (eq loggedUser.verified true)}}
      <p class="inline-flex items-center font-semibold rounded-full justify-start">
        <img src="/assets/images/anemo.png" class="mr-1" width="30" alt="verify-icon"> verified</p>
      {{/if}}
      <p class="my-1 text-3xl font-semibold">{{loggedUser.firstName}} {{loggedUser.lastName}} @{{loggedUser.username}}
      </p>
      <p class="my-2">{{loggedUser.email}}</p>
    </div>

    <p class="text-2xl font-semibold mt-2 text-red-400">Account Deletion</p>
    <p class="setting-account-deletion mt-3 mb-5 font-sans w-2/4">This action is irreversible and will permanently
      delete all your account data. Please confirm if you wish to proceed.</p>
    <div class="">
      <p class="mb-2 text-sm text-slate-400">to confirm this, type "DISAPPEAR"</p>
      {{!-- <form action="/delete" method="post"> --}}
        <input type="text" name="delete"
          class="bg-slate-800 border-2 border-slate-600 py-2 px-2 rounded-lg outline-none" id="input-delete">
        <button
          class="setting-delete-btn lg:ml-1 text-white transition-colors border-2 py-2 px-4 font-sans font-bold rounded-lg tracking-wider disable-btn"
          id="btn-delete" data-userid="{{loggedUser._id}}">Delete Account</button>
      {{!-- </form> --}}
    </div>
  </div>
</section>
        </div>

      </div>
      {{#if messages.success}}
      <script>
        window.addEventListener('load', function () {
          showAlertBox('{{messages.success}}')
        })
      </script>
      {{/if}}
      {{#if messages.error}}
      <script>
        window.addEventListener('load', function () {
          showAlertErrorBox('{{messages.error}}')
        })
      </script>
      {{/if}}
      {{#if messages.deletedItem}}
      <script>
        window.addEventListener('load', function () {
          showAlertBox('{{messages.deletedItem}}')
        })
      </script>
      {{/if}}
    </div>
    <script defer type="text/javascript" src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>