<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>{{character.name}}</title>
</head>

<body class="bg-slate-800">
  <div class="w-10/12 container p-4 mx-auto bg-slate-800">
    <p class="bg-red-400 text-center py-2 my-5 rounded-lg text-slate-800">Important: Making changes to the character
      data will reflect in the API.
      Please be cautious when editing.</p>
    <div class="header-container flex items-center">
      {{#if character}}
      <div class="icon-card overflow-hidden five-star rounded-lg box-border m-3 flex justify-center items-center">
        <img width="100px" src="{{character.images.profile}}" alt="{{this.name}}" />
      </div>
      <div>
        <p class="text-3xl whitespace-nowrap overflow-ellipsis mx-2 text-white">{{character.name}}</p>
        {{!-- <p class="text-md mx-2 text-gray-300 mt-2 overflow-hidden whitespace-nowrap overflow-ellipsis w-4/12">
          {{character.desc}}</p> --}}
        {{#if character}}
        <img src="/assets/images/{{character.vision}}.png" width="30" alt="{{character.vision}}">
        {{/if}}
      </div>
      {{/if}}
    </div>
    <form class="editForm text-white" action="" method="POST">
      <div class="flex flex-col items-start">
        <label for="name" class="font-regular text-sm mt-3">
          Name</label>
        <input type="text" name="name" id="name" value="{{character.name}}"
          class=" p-2 border-t-2 border-b-2 placeholder:opacity-50 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
          required />

        <label for="desc" class="font-regular text-sm mt-3">Description</label>
        <input type="text" name="desc" id="desc" value="{{character.desc}}"
          class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
          required />

        <label for="rarity" class="font-regular text-sm mt-3">Rarity</label>
        <div class="flex justify-center my-2">
          <input type="radio" class="rarity" name="rarity" id="5" {{#if (eq character.rarity 5)}}checked{{/if}} hidden
            required>
          <label for="5">5 Star</label>
          <input type="radio" class="rarity ml-1" name="rarity" id="4" {{#if (eq character.rarity 4)}}checked{{/if}}
            hidden required>
          <label for="4">4 Star</label>
        </div>


        {{> pageEditCharacter/vision}}
        {{> pageEditCharacter/weaponType}}

        <label for="vr" class="myFont my-4 text-lg">Version Release</label>
        <input type="text" name="vr" id="vr" value="{{character.versionRelease}}"
          class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
          required />
  <label for="weapon" class="myFont my-4 text-xl">Birthday</label>
  <input type="text" name="birthday" id="desc" value="{{character.birthday}}"
          class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
          required />
      </div>
      <button type="submit" id="login"
        class="btn py-3 px-6 border-4 border-teal-400 rounded-2xl hover:bg-teal-400 mt-3 font-regular transition-colors ease-linear font-semibold">Save</button>
    </form>
  </div>
</body>

</html>