<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{artifact.name}}</title>
</head>

<body class="bg-slate-800">
  <div class="bg-slate-800 fixed top-0 left-0 bottom-0 right-0 z-50 flex justify-center items-center" id="loader">
      <span class="loader"></span>
    </div>

    <div id="alertBox" class="alertBox text-white bg-teal-500 px-2 py-2 rounded-lg transition-all duration-300 z-40"></div>
    <div id="alertBoxError" class="alertBox text-white bg-red-400 px-2 py-2 rounded-lg transition-all duration-300 z-40"></div>

  <div class="edit-main-container w-10/12 container p-4 mx-auto bg-slate-800">
   <p class="bg-red-400 text-center p-2 my-5 rounded-lg text-slate-800">Important: Making changes to the character data will reflect in the API. Please be cautious when editing.</p>
    <div class="header-container flex items-center">
      {{#if artifact}}
      <div class="icon-card overflow-hidden artifacts rounded-lg box-border m-3 flex justify-center items-center">
        <img width="100px" src="{{artifact.fullSet.flower.icon}}" alt="{{artifact.name}}" />
      </div>
      <div>
        <p class="text-3xl overflow-hidden whitespace-nowrap overflow-ellipsis w-48 sm:w-full mx-2 text-white">{{artifact.name}}</p>
        </div>
      {{/if}}
    </div>
    
    <form class="editForm text-white" action="/dashboard/artifact/edit/{{artifact._id}}" method="POST">
      <div class="flex flex-col items-start">
        
        <div class="form-top-mob flex justify-between w-full gap-2">
  <div class="flex flex-col w-full lg:w-2/4">
    <label for="name" class=" myFont mt-3 text-lg">Name</label>
    <input type="text" name="name" id="name" value="{{artifact.name}}"
      class=" p-2 border-t-2 border-b-2 placeholder:opacity-50 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-full lg:w-2/4">
    <label for="twoPc" class="myFont mt-3 text-lg">2pc Effect</label>
    <input type="text" name="twoPc" id="twoPc" value="{{artifact.effect.twoPc}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

</div>


<div class="flex flex-col w-full">
  <label for="fourPc" class="myFont mt-3 text-lg">4pc Effect</label>
  <input type="text" name="fourPc" id="fourPc" value="{{artifact.effect.fourPc}}"
    class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
    required />
</div>

<div class="flex justify-evenly items-center gap-2 flex-wrap mt-4">
   <div
    class="p-4 border-box w-80 lg:w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.flower.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.flower.title}}">

    <label for="flowerTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="flowerTitle" id="flowerTitle" value="{{artifact.fullSet.flower.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="flowerPiece" id="flowerPiece" value="{{artifact.fullSet.flower.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="flowerIcon" id="flowerIcon" value="{{artifact.fullSet.flower.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 border-box w-80 lg:w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.sands.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.sands.title}}">

    <label for="sandsTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="sandsTitle" id="sandsTitle" value="{{artifact.fullSet.sands.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="sandsPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="sandsPiece" id="sandsPiece" value="{{artifact.fullSet.sands.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="sandsIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="sandsIcon" id="sandsIcon" value="{{artifact.fullSet.sands.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 border-box w-80 lg:w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.plume.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.plume.title}}">

    <label for="plumeTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="plumeTitle" id="plumeTitle" value="{{artifact.fullSet.plume.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="plumePiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="plumePiece" id="plumePiece" value="{{artifact.fullSet.plume.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="plumeIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="plumeIcon" id="plumeIcon" value="{{artifact.fullSet.plume.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 border-box w-80 lg:w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.circlet.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.circlet.title}}">

    <label for="circletTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="circletTitle" id="circletTitle" value="{{artifact.fullSet.circlet.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="circletPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="circletPiece" id="circletPiece" value="{{artifact.fullSet.circlet.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="circletIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="circletIcon" id="circletIcon" value="{{artifact.fullSet.circlet.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 border-box w-80 lg:w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.goblet.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.goblet.title}}">

    <label for="gobletTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="gobletTitle" id="gobletTitle" value="{{artifact.fullSet.goblet.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="gobletPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="gobletPiece" id="gobletPiece" value="{{artifact.fullSet.goblet.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="gobletIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="gobletIcon" id="gobletIcon" value="{{artifact.fullSet.goblet.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>

      </div>
        <div class="w-full flex flex-wrap gap-2 mt-5 text-white poppins justify-center items-center">
          <a href="/dashboard" id="cancelBtn" class="w-full text-center btn py-3 px-6 border-2 border-red-400 rounded-2xl hover:bg-red-400 font-regular transition-colors ease-linear font-semibold">Cancel</a>
          <input type="text" name="confirmSave" id="confirmSave" class="w-full py-3 px-6 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-gray-400 rounded-md outline-none focus:border-gray-100 text-center" placeholder="TYPE 'GENSHIN' TO CONFIRM" required />
          <button type="submit" id="save" class="w-full btn py-3 px-6 border-2 border-teal-400 rounded-2xl hover:bg-teal-400 font-regular transition-colors ease-linear font-semibold disable-save-btn">Save</button>
        </div>
  </form>
  {{#if messages.success}}
  <script>
    window.addEventListener('load', function () {
      showAlertBox('{{messages.success}}')
    })
  </script>
  {{/if}}
  {{#if messages.error}}
  <script>
    window.addEventListener('load', function () {
      showAlertErrorBox('{{messages.error}}')
    })
  </script>
  {{/if}}
  </div>
  <script defer src="/js/editArtifact.js"></script>
</body>
<footer class="py-5">
  {{> version}}
</footer>
</html>