<div class="form-top-mob flex justify-between w-full">
  <div class="flex flex-col w-full lg:w-2/4">
    <label for="name" class=" myFont mt-3 text-lg">Name</label>
    <input type="text" name="name" id="name" value="{{weapon.name}}"
      class=" p-2 border-t-2 border-b-2 placeholder:opacity-50 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col">
    <label for="vr" class="myFont mt-3 text-lg">Version Release</label>
    <input type="text" name="vr" id="vr" value="{{weapon.versionRelease}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col">

    <label for="rarity" class="myFont my-2 text-lg text-left lg:text-center">Rarity</label>
    <div class="flex justify-start text-center lg:justify-center mt-1">

      <input type="radio" class="rarity" name="rarity" id="5" value="5" {{#if (eq weapon.rarity 5)}}checked{{/if}} hidden required>
      <label for="5">5 Star</label>

      <input type="radio" class="rarity ml-1 " name="rarity" id="4" value="4" {{#if (eq weapon.rarity 4)}}checked{{/if}} hidden required>
      <label for="4">4 Star</label>

      <input type="radio" class="rarity ml-1 " name="rarity" id="3" value="3" {{#if (eq weapon.rarity 3)}}checked{{/if}} hidden required>
      <label for="3">3 Star</label>

      <input type="radio" class="rarity ml-1 " name="rarity" id="2" value="2" {{#if (eq weapon.rarity 2)}}checked{{/if}} hidden required>
      <label for="2">2 Star</label>

      <input type="radio" class="rarity ml-1 " name="rarity" id="1" value="1" {{#if (eq weapon.rarity 1)}}checked{{/if}} hidden required>
      <label for="1">1 Star</label>
    </div>
  </div>

</div>



<div class="form-top-mob flex justify-between w-full lg:gap-2">

  <div class="flex flex-col">
    <label for="baseAtk" class="myFont mt-3 text-lg">Base ATK</label>
    <input type="text" name="baseAtk" id="baseAtk" value="{{weapon.baseAtk}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col">
    <label for="subStatType" class="myFont mt-3 text-lg">Sub-Stat Type</label>
    <input type="text" name="subStatType" id="subStatType" value="{{weapon.subStatType}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col">
    <label for="baseSubStat" class="myFont mt-3 text-lg">Base Sub-Stat</label>
    <input type="text" name="baseSubStat" id="baseSubStat" value="{{weapon.baseSubStat}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-full lg:w-1/3">
    <label for="source" class="myFont mt-3 text-lg">Source(s)</label>
    <input type="text" name="source" id="source" value="{{weapon.source}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>

<label for="desc" class="myFont mt-3 text-lg">Description</label>
<input type="text" name="desc" id="desc" value="{{weapon.desc}}"
  class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
  required />

<div class="form-top-mob flex justify-between w-full lg:gap-2">

  <div class="flex flex-col w-full lg:w-1/4">
    <label for="affix" class="myFont mt-3 text-lg">Affix</label>
    <input type="text" name="affix" id="affix" value="{{weapon.affix}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-full lg:w-2/3">
    <label for="passive" class="myFont mt-3 text-lg">Passive</label>
    <input type="text" name="passive" id="passive" value="{{weapon.passive}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>