    {{!-- FORM HEAD --}}

<p class="bg-red-400 text-center  py-2 my-5 rounded-lg text-slate-800">Important: Making changes to the character data will reflect in the API. Please be cautious when editing.</p>
    <div class="header-container flex items-center">
      {{#if weapon}}
      <div class="icon-card overflow-hidden {{#if (eq weapon.rarity 5)}} five-star {{/if}} {{#if (eq weapon.rarity 4)}} four-star {{/if}} rounded-lg box-border m-3 flex justify-center items-center">
        <img width="100px" src="{{weapon.images.icon}}" alt="{{weapon.name}}" />
      </div>
      <div>
        <p class="text-3xl whitespace-nowrap overflow-ellipsis mx-2 text-white">{{weapon.name}}</p>
        {{#if weapon}}
        <img src="/assets/images/{{weapon.vision}}.png" width="30" alt="{{weapon.vision}}">
        {{/if}}
      </div>
      {{/if}}
    </div>
    