<div class="img-container flex w-full justify-evenly items-center mt-2">

        <div class="text-center">
          <img src="{{weapon.images.original}}" width="450" alt="{{weapon.name}} Gacha Art">
          <p class="mt-2 font-semibold">Original</p>
        </div>
        <div class="text-center">
          <img src="{{weapon.images.gacha}}" width="150" class="rounded-xl" alt="{{weapon.name}} Card">
          <p class="mt-2 font-semibold">Gacha Art</p>
        </div>

        <div class="text-center">
          <img src="{{weapon.images.awakened}}" width="450" alt="{{weapon.name}} Gacha Art">
          <p class="mt-2 font-semibold">Awakened</p>
        </div>
</div>