<div class="flex justify-between flex-wrap w-full lg:gap-2">

  <div class="flex flex-col w-full">
    <label for="icon" class="myFont mt-3 text-lg">Icon Link</label>
    <input type="text" name="icon" id="icon" value="{{weapon.images.icon}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-full">
    <label for="original" class="myFont mt-3 text-lg">Weapon Image Link</label>
    <input type="text" name="original" id="original" value="{{weapon.images.original}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>

<div class="flex justify-between flex-wrap w-full lg:gap-2">

  <div class="flex flex-col w-full">
    <label for="gacha" class="myFont mt-3 text-lg">Gacha Art Link</label>
    <input type="text" name="gacha" id="gacha" value="{{weapon.images.gacha}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-full">
    <label for="awakened" class="myFont mt-3 text-lg">Weapon Awakened Image Url</label>
    <input type="text" name="awakened" id="awakened" value="{{weapon.images.awakened}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>

<div class="flex flex-col w-full">
    <label for="wikiUrl" class="myFont mt-3 text-lg">Wiki Url</label>
    <input type="text" name="wikiUrl" id="wikiUrl" value="{{weapon.wikiUrl}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>