<div class="flex justify-between w-full gap-2">
  <div class="flex flex-col w-2/4">
    <label for="name" class=" myFont mt-3 text-lg">Name</label>
    <input type="text" name="name" id="name" value="{{artifact.name}}"
      class=" p-2 border-t-2 border-b-2 placeholder:opacity-50 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-2/4">
    <label for="twoPc" class="myFont mt-3 text-lg">2pc Effect</label>
    <input type="text" name="twoPc" id="twoPc" value="{{artifact.effect.twoPc}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

</div>


<div class="flex flex-col w-full">
  <label for="fourPc" class="myFont mt-3 text-lg">4pc Effect</label>
  <input type="text" name="fourPc" id="fourPc" value="{{artifact.effect.fourPc}}"
    class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
    required />
</div>

<div class="flex justify-evenly items-center gap-2 flex-wrap mt-4">
   <div
    class="p-4 w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.flower.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.flower.title}}">

    <label for="flowerTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="flowerTitle" id="flowerTitle" value="{{artifact.fullSet.flower.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="flowerPiece" id="flowerPiece" value="{{artifact.fullSet.flower.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="flowerIcon" id="flowerIcon" value="{{artifact.fullSet.flower.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.sands.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.sands.title}}">

    <label for="sandsTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="sandsTitle" id="sandsTitle" value="{{artifact.fullSet.sands.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="sandsPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="sandsPiece" id="sandsPiece" value="{{artifact.fullSet.sands.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="sandsIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="sandsIcon" id="sandsIcon" value="{{artifact.fullSet.sands.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.plume.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.plume.title}}">

    <label for="plumeTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="plumeTitle" id="plumeTitle" value="{{artifact.fullSet.plume.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="plumePiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="plumePiece" id="plumePiece" value="{{artifact.fullSet.plume.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="plumeIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="plumeIcon" id="plumeIcon" value="{{artifact.fullSet.plume.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.circlet.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.circlet.title}}">

    <label for="circletTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="circletTitle" id="circletTitle" value="{{artifact.fullSet.circlet.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="circletPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="circletPiece" id="circletPiece" value="{{artifact.fullSet.circlet.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="circletIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="circletIcon" id="circletIcon" value="{{artifact.fullSet.circlet.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div
    class="p-4 w-96 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.goblet.icon}}" class="mb-4" width="100" alt="{{artifact.fullSet.goblet.title}}">

    <label for="gobletTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="gobletTitle" id="gobletTitle" value="{{artifact.fullSet.goblet.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="gobletPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="gobletPiece" id="gobletPiece" value="{{artifact.fullSet.goblet.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="gobletIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="gobletIcon" id="gobletIcon" value="{{artifact.fullSet.goblet.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>