<div class="flex justify-between w-full gap-2">
  <div class="flex flex-col w-2/4">
    <label for="name" class=" myFont mt-3 text-lg">Name</label>
    <input type="text" name="name" id="name" value="{{artifact.name}}"
      class=" p-2 border-t-2 border-b-2 placeholder:opacity-50 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-2/4">
    <label for="twoPc" class="myFont mt-3 text-lg">2pc Effect</label>
    <input type="text" name="twoPc" id="twoPc" value="{{artifact.effect.twoPc}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

</div>


<div class="flex flex-col w-full">
  <label for="fourPc" class="myFont mt-3 text-lg">4pc Effect</label>
  <input type="text" name="fourPc" id="fourPc" value="{{artifact.effect.fourPc}}"
    class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
    required />
</div>

<div class="flex justify-between items-center gap-2">

  <div
    class="p-4 w-2/8 placeholder:opacity-50 bg-slate-700 rounded-md mt-1 mb-3 outline-none">
    <img src="{{artifact.fullSet.flower.icon}}" class="mb-4" width="100" alt="{{artifact.name}}">

    <label for="flowerTitle" class="myFont mt-3 text-lg">Title</label>
    <input type="text" name="flowerTitle" id="flowerTitle" value="{{artifact.fullSet.flower.title}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerPiece" class="myFont mt-3 text-lg">Piece</label>
    <input type="text" name="flowerPiece" id="flowerPiece" value="{{artifact.fullSet.flower.piece}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />

    <label for="flowerIcon" class="myFont mt-3 text-lg">Icon</label>
    <input type="text" name="flowerIcon" id="flowerIcon" value="{{artifact.fullSet.flower.icon}}"
      class="w-full p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-700 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>

<div class="flex justify-between w-full gap-2">

  <div class="flex flex-col w-1/4">
    <label for="affix" class="myFont mt-3 text-lg">Affix</label>
    <input type="text" name="affix" id="affix" value="{{weapon.affix}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>

  <div class="flex flex-col w-2/3">
    <label for="passive" class="myFont mt-3 text-lg">Passive</label>
    <input type="text" name="passive" id="passive" value="{{weapon.passive}}"
      class="p-2 border-t-2 placeholder:opacity-50 border-b-2 bg-slate-800 border-teal-600 rounded-md mt-1 mb-3 outline-none focus:border-teal-300"
      required />
  </div>
</div>